<div layout="column">
    <header>
        <md-toolbar class="md-medium-tall">
            <div layout="row" layout-align="center center">
                <div flex="5">
                    <i class="material-icons golf-logo">golf_course</i>
                </div>
                <div flex="80">
                    <h1>Golf New Places</h1>
                </div>
                <div flex>
                    <md-button id="search" class="md-raised md-warn" ng-click="$ctrl.openLeftMenu()">Search</md-button>
                </div>
            </div>
        </md-toolbar>
    </header>

    <main flex>
        <md-content role="main" class="main-content" layout-align="center center">
            <md-sidenav md-component-id="left" class="md-sidenav-left">
                <md-content layout-padding>
                    <h2 md-colors="{color: 'green-500'}">Where would you like to play?</h2>
                    <form name="searchForm" ng-submit="$ctrl.formSubmit($ctrl.search)" novalidate>
                        <md-input-container>
                            <label for="city" md-colors="{color: 'green-500'}">City</label>
                            <input type="text" id="city" ng-model="$ctrl.search.city" md-colors="{color: 'green-500', 'border-color': 'primary-600'}"></md-input-container>
                        <div layout="column" class="distance">
                            <p>Distance(mi)</p>
                            <md-input-container id="distance-slider">
                                <md-slider flex md-discrete class="md-warn slider" step="1" min="5" max="100" aria-label="rating" ng-model="$ctrl.search.distance"></md-slider>
                            </md-input-container>
                            <div class="course-type" layout="row" layout-align="center center">
                                <md-checkbox ng-model="$ctrl.search.public" aria-label="Checkbox 1" class="md-default">
                                    Public
                                </md-checkbox>
                                <md-checkbox ng-model="$ctrl.search.private" aria-label="Checkbox 2">
                                    Private
                                </md-checkbox>
                            </div>
                        </div>
                        <md-input-container>
                            <md-button class="md-raised md-warn" type="submit" ng-click="$ctrl.openLeftMenu()">Search</md-button>
                        </md-input-container>
                    </form>
                </md-content>
            </md-sidenav>
            <card-list courses="$ctrl.courses"></card-list>
        </md-content>
    </main>
    <footer>
        <md-toolbar class="md-medium-small md-hue-3">
            <div layout="row" layout-align="center center" flex>
                <small>&copy; 2017 | Murph Grainger</small>
            </div>
        </md-toolbar>
    </footer>
</div>
