body {
  min-height: 30vh;
}

header, footer {
  background-color: #A3FFC6;
}
header {
  height: 15vh;
}
.main-content {
  height: 76vh;
}

footer {
  height: 1vh;
}

/*main {
  margin-bottom: -3em;
}*/

a {
  color: #00B7FF;
}

.golf-logo {
  padding-left: .5em;
}


md-sidenav {
  width: 25em;
}

md-sidenav h2 {
  text-align: center;
}

input {
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider .md-track-container {
  background: #E53935;
}

md-input-container {
  width: 70%!important;
  display: flex;
  justify-content: center;
}

.md-thumb::after {
  background: #E53935;
}

/*Cards*/
.md-subhead {
  font-size: 1.1em!important;
}
